<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Bouriel</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{{ asset('bundles/etudiantetudiant/assets/css/bootstrap.css') }}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{{ asset('bundles/etudiantetudiant/assets/css/font-awesome.css') }}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="{{ asset('bundles/etudiantetudiant/assets/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{{ asset('bundles/etudiantetudiant/assets/css/custom.css') }}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E-Bouriel</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> &nbsp; <a href="{{ path('etudiant_deconnect_homepage')}}" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="{{ asset('bundles/etudiantetudiant/assets/img/find_user.png') }}" class="user-image img-responsive"/>
					</li>
				
					
                    <li>
                        {% if id=='dash' %}
                        <a class="active-menu"  href="{{path('etudiant_getHome_homepage')}}"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                        {% else %}
                        <a  href="{{path('etudiant_getHome_homepage')}}"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                        {%endif %}
                    </li>
                     <li>
                         {% if id=='list' %}
                       <a  class="active-menu" href="{{path('etudiant_allcourses_homepage')}}"><i class="fa fa-desktop fa-3x"></i> All Courses</a>
                        {% else %}
                      <a  href="{{path('etudiant_allcourses_homepage')}}"><i class="fa fa-desktop fa-3x"></i> All Courses</a>
                        {%endif %}
                        
                    </li>
                    <li>
                         {% if id=='mine' %}
                       <a   class="active-menu" href="{{path('etudiant_mycourses_homepage') }}"><i class="fa fa-qrcode fa-3x"></i> My Courses</a>
                        {% else %}
                      <a  href="{{path('etudiant_mycourses_homepage') }}"><i class="fa fa-qrcode fa-3x"></i> My Courses</a>
                        {%endif %}
                        
                    </li>
                     <li>
                         {% if id=='result' %}
                       <a   class="active-menu" href="{{path('etudiant_result_homepage') }}"><i class="fa fa-bar-chart-o fa-3x"></i> My Results</a>  
                        {% else %}
                       <a   href="{{path('etudiant_result_homepage') }}"><i class="fa fa-bar-chart-o fa-3x"></i> My Results</a>  
                        {%endif %}
                        
                    </li>
                      <li>
                         {% if id=='qcm' %}
                       <a href="#" class="active-menu" ><i class="fa fa-sitemap fa-3x"></i> QCM<span class="fa arrow"></span></a>
                        {% else %}
                      <a href="#" ><i class="fa fa-sitemap fa-3x"></i> QCM<span class="fa arrow"></span></a>
                        {%endif %}
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('etudiant_qcmGroupedByC_homepage') }}">Grouped By Courses</a>
                            </li>
                            <li>
                                <a href="{{path('etudiant_randomQcm_homepage')}}">Randomly</a>
                            </li>
                        </ul>
                    </li>
                      <li>
                         {% if id=='certif' %}
                        <a class="active-menu" href="{{path('etudiant_getcertifications_homepage')}}"><i class="fa fa-table fa-3x"></i> Certification</a>
                        {% else %}
                         <a  href="{{path('etudiant_getcertifications_homepage')}}"><i class="fa fa-table fa-3x"></i> Certification</a>  
                        {%endif %}
                        
                    </li>
                        <li>
                         {% if id=='msg' %}
                       <a href="#" class="active-menu" ><i class="fa fa-sitemap fa-3x"></i> Messaging<span class="fa arrow"></span></a>
                        {% else %}
                      <a href="#" ><i class="fa fa-sitemap fa-3x"></i> Messaging<span class="fa arrow"></span></a>
                        {%endif %}
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('etudiant_mymessages_homepage')}}">My messages</a>
                            </li>
                            <li>
                                <a href="{{path('etudiant_getFormSend_homepage')}}">Send a message</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                         {% if id=='setting' %}
                        <a  class="active-menu" href="{{path('etudiant_SetProfile_homepage')}}"><i class="fa fa-edit fa-3x"></i> Setting </a>
                        {% else %}
                         <a  href="{{path('etudiant_SetProfile_homepage')}}"><i class="fa fa-edit fa-3x"></i> Setting </a>
                        {%endif %}
                        
                    </li>
                    <li  >
                        
                    </li>				
						            
                    
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
             
   
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{{ asset('bundles/etudiantetudiant/assets/js/jquery-1.10.2.js') }}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('bundles/etudiantetudiant/assets/js/bootstrap.min.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ asset('bundles/etudiantetudiant/assets/js/jquery.metisMenu.js') }}"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="{{ asset('bundles/etudiantetudiant/assets/js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('bundles/etudiantetudiant/assets/js/morris/morris.js') }}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('bundles/etudiantetudiant/assets/js/custom.js') }}"></script>
    
   
</body>
</html>
